body {
	background: #f1f1f1 !important;
	color: #111;
	font-family: Roboto, sans-serif !important;
	font-weight: 400;
	font-size: 14px;
}

header {
	background: #F44336;
	margin-bottom: 16px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
}

form {
	text-align: center;
}

form input {
	font-size: 16px !important;
	padding: 8px;
	margin: 16px 8px;
	border: 0 solid #111;
	font-weight: 700;
	color: #fff;
}

form input[type=text] {
	background: rgba(255, 255, 255, 0);
	border-bottom: 3px solid #111;
}

form input[type=text]:focus {
	border-bottom: 3px solid #1DE9B6;
	outline: 0;
}

::-webkit-input-placeholder {
	color: #ebebeb;
}

form input[type=submit] {
	border-radius: 2px;
	background: rgba(255, 255, 255, 0);
	color: #fff;
}

form input[type=submit]:active {
	outline: 0;
}

form input[type=submit]:hover {
	background: #D32F2F;
}

#error {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

#videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 15px;
}

#videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#floatingAction {
	background: #1DE9B6;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 5%;
	transform: translate(0, 50%);
	width: 56px;
	height: 56px;
}

#floatingAction:hover {
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	cursor: pointer;
}

#floatingAction img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	text-align: center;
	color: #727272;
}

footer a {
	color: #1DE9B6;
}

footer a:hover {
	color: #00BFA5;
}